/* $form-bg: #13232f; */
/* $br: 4px; */
/* $thin: 300; */
/* $normal: 400; */
/* $bold: 600; */
/* $br: 4px; */
/* $main: #1ab188; */
/* $main-light: lighten($main,5%); */
/* $main-dark: #179974; */
/* $gray-light: #a0b3b0; */
/* $gray: #ddd; */

.hidden {
    display: none;
}

/* *, *:before, *:after {
    box-sizing: border-box;
} */
  
html {
    height: 100%;
}

body {
    height: 100%;   
    overflow: hidden;  
    margin: 0px;  
    display: flex;  
    box-sizing: border-box;
    background:#c1bdba;
    font-family: 'Titillium Web', sans-serif;
}

h1  {
    color: #ffffff;
}

.column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#left {
    width: 15%;
    flex-shrink: 0;
}

.top-left {
    background: #13232ff7;
    flex-shrink: 0;
    box-shadow: 0px 5px 10px;
}

.top-left h1 {
    margin-left: 1rem;
}

.top-right h1 {
    margin-left: 1rem;
}

.top-right {
    background: #13232ff7;
    flex-shrink: 0;
    display: inline-flex;
}

.tab-group {
    display: inline-flex;
    flex-direction: column;
    list-style: none;
}

.tab-group li a {
    text-decoration:none;
    padding:15px;
    color:#a0b3b0;
    font-size:20px;
    float:left;
    text-align:right;
    cursor:pointer;
    transition:.5s ease;
}

.tab-group li a:hover {
    text-decoration:underline; 
    color:#ffffff;
}

.tab-group li {
    transition:.5s ease;    
}

.tab-group li.active a {
    text-decoration:underline; 
    color:#ffffff;
}

.bottom {
    flex-grow: 1;
    overflow-y: auto;
}

#left .bottom {
    background: #172a38f7;
}

#right .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.form {
    background: #13232ff7;
    padding: 40px;
    max-width:600px;
    margin:40px auto;
    border-radius:4px;
    box-shadow: #13232f2e;
    display: flex;
    flex-direction: column;
}
/*  */
.form h1 {
    text-align:center;
    color:#ffffff;
    font-weight:300;
    margin:0 0 40px;
}

.field-wrap {
    margin-bottom:40px;
}

input, textarea {
    font-size:22px;
    width:100%;
    height:100%;
    padding:5px 10px;
    background:none;
    background-image:none;
    border:1px solid #a0b3b0;
    color:#ffffff;
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
    outline:0;
    border-color:#1ab188;
}

.top-row > div {
    float:left;
    width:48%;
    margin-right:4%;
}

.top-row > div:last-child {
    margin:0;
}

.top-row:after {
    content: "";
    clear: both;
}

.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:2rem;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:#1ab188;
    color:#ffffff;
    transition:all.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background:#179974;
}
  
.button-block {
    width:100%;
}


/*  */
/* a { */
    /* text-decoration:none; */
    /* color:#1ab188; */
    /* transition:.5s ease; */
    /*  */
/* } */
/*  */
/* a:hover { */
    /* color:#179974; */
/* } */
/*  */
/* .tab-group { */
    /* list-style-type:none; */
    /* padding:0; */
    /* margin:0 0 40px 0; */
/* } */
/*  */
/* .tab-group li a { */
    /* display:block; */
    /* text-decoration:none; */
    /* padding:15px; */
    /* background:#a0b3b0ad; */
    /* color:#a0b3b0; */
    /* font-size:20px; */
    /* float:left; */
    /* width:50%; */
    /* text-align:center; */
    /* cursor:pointer; */
    /* transition:.5s ease; */
/* } */
/*  */
/* .tab-group:after { */
    /* content: ""; */
    /* display: table; */
    /* clear: both; */
/* } */
/*  */
/* .tab-group li a:hover { */
    /* background:#179974; */
    /* color:#ffffff; */
/* } */
/*  */
/* .tab-group .active a { */
    /* background:#1ab188; ; */
    /* color:#ffffff; */
/* } */
/*  */
/* label { */
    /* transform:translateY(-10px); */
    /* position:relative; */
    /* left:13px; */
    /* color:rgba(#ffffff,.5); */
    /* transition:all 0.25s ease; */
    /* -webkit-backface-visibility: hidden; */
    /* pointer-events: none; */
    /* font-size:22px; */
/* } */
/*  */
/* label .req { */
    /* margin:2px; */
    /* color:#1ab188; */
/* } */
/*  */
/* .field-wrap { */
    /* position:relative; */
    /* margin-bottom:40px; */
/* } */
/*  */
/* input, textarea { */
    /* font-size:22px; */
    /* display:block; */
    /* width:100%; */
    /* height:100%; */
    /* padding:5px 10px; */
    /* background:none; */
    /* background-image:none; */
    /* border:1px solid #a0b3b0; */
    /* color:#ffffff; */
    /* border-radius:0; */
    /* transition:border-color .25s ease, box-shadow .25s ease; */
/* } */
/*  */
/* input:focus, textarea:focus { */
    /* outline:0; */
    /* border-color:#1ab188; */
/* } */
/*  */
/* .top-row > div { */
    /* float:left; */
    /* width:48%; */
    /* margin-right:4%; */
/* } */
/*  */
/* .top-row > div:last-child { */
    /* margin:0; */
/* } */
/*  */
/* .top-row:after { */
    /* content: ""; */
    /* display: table; */
    /* clear: both; */
/* } */
/*  */
/* .button { */
    /* border:0; */
    /* outline:none; */
    /* border-radius:0; */
    /* padding:15px 0; */
    /* font-size:2rem; */
    /* font-weight:600; */
    /* text-transform:uppercase; */
    /* letter-spacing:.1em; */
    /* background:#1ab188; */
    /* color:#ffffff; */
    /* transition:all.5s ease; */
    /* -webkit-appearance: none; */
/* } */
/*  */
/* .button:hover, .button:focus { */
    /* background:#179974; */
/* } */
  /*  */
/* .button-block { */
    /* display:block; */
    /* width:100%; */
/* } */
/*  */
/* .form { */
    /* background: #13232ff7; */
    /* padding: 40px; */
    /* max-width:600px; */
    /* margin:40px auto; */
    /* border-radius:4px; */
    /* box-shadow: #13232f2e; */
/* } */
/*  */
/* h1 { */
    /* text-align:center; */
    /* color:#ffffff; */
    /* font-weight:300; */
    /* margin:0 0 40px; */
/* } */
/*  */
/* a { */
    /* text-decoration:none; */
    /* color:#1ab188; */
    /* transition:.5s ease; */
    /*  */
/* } */
/*  */
/* a:hover { */
    /* color:#179974; */
/* } */
/*  */
/* .tab-group { */
    /* list-style-type:none; */
    /* padding:0; */
    /* margin:0 0 40px 0; */
/* } */
/*  */
/* .tab-group li a { */
    /* display:block; */
    /* text-decoration:none; */
    /* padding:15px; */
    /* background:#a0b3b0ad; */
    /* color:#a0b3b0; */
    /* font-size:20px; */
    /* float:left; */
    /* width:50%; */
    /* text-align:center; */
    /* cursor:pointer; */
    /* transition:.5s ease; */
/* } */
/*  */
/* .tab-group:after { */
    /* content: ""; */
    /* display: table; */
    /* clear: both; */
/* } */
/*  */
/* .tab-group li a:hover { */
    /* background:#179974; */
    /* color:#ffffff; */
/* } */
/*  */
/* .tab-group .active a { */
    /* background:#1ab188; ; */
    /* color:#ffffff; */
/* } */
/*  */
/* label { */
    /* transform:translateY(-10px); */
    /* position:relative; */
    /* left:13px; */
    /* color:rgba(#ffffff,.5); */
    /* transition:all 0.25s ease; */
    /* -webkit-backface-visibility: hidden; */
    /* pointer-events: none; */
    /* font-size:22px; */
/* } */
/*  */
/* label .req { */
    /* margin:2px; */
    /* color:#1ab188; */
/* } */
/*  */
/* .field-wrap { */
    /* position:relative; */
    /* margin-bottom:40px; */
/* } */
/*  */
/* input, textarea { */
    /* font-size:22px; */
    /* display:block; */
    /* width:100%; */
    /* height:100%; */
    /* padding:5px 10px; */
    /* background:none; */
    /* background-image:none; */
    /* border:1px solid #a0b3b0; */
    /* color:#ffffff; */
    /* border-radius:0; */
    /* transition:border-color .25s ease, box-shadow .25s ease; */
/* } */
/*  */
/* input:focus, textarea:focus { */
    /* outline:0; */
    /* border-color:#1ab188; */
/* } */
/*  */
/* .top-row > div { */
    /* float:left; */
    /* width:48%; */
    /* margin-right:4%; */
/* } */
/*  */
/* .top-row > div:last-child { */
    /* margin:0; */
/* } */
/*  */
/* .top-row:after { */
    /* content: ""; */
    /* display: table; */
    /* clear: both; */
/* } */
/*  */
/* .button { */
    /* border:0; */
    /* outline:none; */
    /* border-radius:0; */
    /* padding:15px 0; */
    /* font-size:2rem; */
    /* font-weight:600; */
    /* text-transform:uppercase; */
    /* letter-spacing:.1em; */
    /* background:#1ab188; */
    /* color:#ffffff; */
    /* transition:all.5s ease; */
    /* -webkit-appearance: none; */
/* } */
/*  */
/* .button:hover, .button:focus { */
    /* background:#179974; */
/* } */
  /*  */
/* .button-block { */
    /* display:block; */
    /* width:100%; */
/* } */